@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html,
body,
html * {
  font-family: "Roboto", sans-serif;
}

@import 'bootstrap/dist/css/bootstrap.min.css';
body {
  background-color: #152f4f;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02:nth-child(2) {
  opacity: 0 !important;
}

.sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02 {
  display: block;
  width: 25px !important;
  height: 3px !important;
  background-color: whitesmoke !important;
  opacity: 1  !important ;
}

.body-panddin{
  padding: 0;
  background-color: whitesmoke;
  width: 100vW;
  height: 100vh;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- {
   clear: both; 
   position: relative; 
}

h1{
  font-size: 50px;
  font-weight: bold;
}

h1{
  color: #152f4f;
}

.divleft{
  margin-top: 15px;
  display: flex !important;
}

.div {
  height: 7vh;
  float: left;
  display: flex;
  text-align: right !important;
  background-color: #152f4f;
  align-items: center !important;
  font-size: 12px;
  color: rgb(255, 255, 255) !important;
  justify-items: left;
  vertical-align: middle;
  align-items: flex-start;
}

.datos{
  display: block !important;
  position: relative;
  text-align: left;
  float: left;
  margin-left: 15px;
}

.container-fluid{
  min-height: 83vh;
}

.container{
  background-color: #152f4f !important;
}

.centrar-icon-text{
  justify-items: center;
  display: block !important;
  align-items: center;
}

.home h3{
  color: black;
}

.div a{
  text-decoration: none;
  color: whitesmoke;
  padding-left: 10px;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

a:hover{
  color: #e47f21 !important;
}

.div span:hover {
  color: #e47f21 !important;
}

.Col{
  text-align: initial;
}

.bloqueo{
  background-color: rgb(168, 165, 165) !important;
  border:0;
}

.Col, .Col2 a{
  text-decoration: none;
  color: whitesmoke;
  text-shadow: none !important;
  box-shadow: none !important;
}

.Col2{
  text-align: center;
}

.home a{
  color: #152f4f ;
}

.dropdown-divider{
  height: 1px ;
  width: 100%;
  border: 1px solid whitesmoke;
}

hr{
  opacity: .8;
}

.pb-5{
  padding: 0 !important;
}

button{
  border: 0 !important;
  outline: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.0);
}

span{
  color: whitesmoke !important;
}

.row-cols-auto>* {
  width: 183px;
}

text{
  display: block;
}

.header {
  display: flex;
  text-align: center;
  width: 100vw;
  text-align: right;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 2px 2px;
  background-color: #152f4f ;
  color: whitesmoke;
  z-index: 10000;
}

.header_login{
  float: left;
  display: flex;
  text-align: right !important;
  background-color: #152f4f;
  align-items: center !important;
  font-size: 12px;
  color: rgb(255, 255, 255) !important;
  justify-items: left;
  vertical-align: middle;
  align-items: flex-start;
}
.select_matricula{
  margin-bottom: 0 !important;

}
.btn_especial{
  margin: 100px;
}
.imprimir{
  zoom: 0.9;
}
.input-group-text {
  color: gray !important;
  min-width: 68px;
}

.title_home{
  display: inline-flex;
  text-align: center !important;
  align-items: center !important;
  justify-items: center;
  vertical-align: middle;
}

@media (min-width: 992px){
  .navbar-expand-lg {
      flex-wrap: nowrap;
      justify-content: center;
  }
}

h2{
  margin-top: 25px !important;
}

.matricula {
  display: flex;
}

.accordion-button:focus {
   z-index: none;
   border-color: none;
   outline: 0;
   box-shadow: none;
}

.accordion-button:hover{
  color: #e47f21 !important;
}

svg:hover{
  color: #e47f21 !important;
}

.sidenav---sidenav-navitem---uwIJ- .sidenav---expandable---3_dr7:hover{
  color: #e47f21 !important;
}

.btn{
  min-width: 120px;
}

.form-select:disabled {
  background-color: #8e9297;
}

.form-select {
  width: 100%;
}

.menu2{
  color: rgba(0,0,0,.55);
}
.btn_imprimir{
  z-index: 1000000;
}

span {
  text-align: center;
  position: relative;
}

.notas {
  top: 25%;
  color: whitesmoke;
}

.ul {
  top: 38%;
  color: darkgray;
}

.navbar-toggler {
  padding: none !important;
}

.logo {
  position: relative;
  padding-top: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  align-items: center !important;
  justify-items: center !important;
  text-align: center !important;
}

.red-social {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  padding: 4px;
  margin-left: 10px;
}

.container-fluid{
  padding:0;
}

.centrar-login{
  min-height: 100%;
  align-items: center !important;
  max-width: 100% !important;
  vertical-align: middle;
}

.sidenav---sidenav---_2tBP {
  position: absolute;
  height: 86vh ;
  top: 7vh !important;
  bottom: 0;
  left: 0;
  z-index: 1006;
  min-width: 70px;
  background: #152f4f !important;
  transition: min-width 0.9s;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > * {
  color: whitesmoke !important;
}

.icon-tam{
  width: 199px;
  display: block;
  text-align: center;
}

h1{
  color: #152f4f !important;
}

.desactivar{
  color: #999 !important;
}

.desactivar:hover{
  color: #999 !important;
}

label{
  color: black !important;
}

.icon-tam2{
  display: -webkit-inline-box;
  align-items: center;
  align-content: center;
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
}

*:focus {
  outline: 0 !important;
}

.cerrar{
  display: block !important;
  position: absolute !important;
  bottom: 20px;
}

.fc .fc-daygrid-day-frame {
  height: 150px;
}

.fc-h-event {
  display: block;
  border: none !important; 
  border: none !important; 
  background-color: none !important; 
  background-color: none !important;
}

.fc-h-event .fc-event-title-container {
  background-color: #e47f21;
}
.row{
  padding-bottom: 0px;
  padding-top: 0px;
}

.fc .fc-view-harness {
  flex-grow: 1;
  position: relative;
  height: 67vh !important;
}

.barra-login{
  text-align: center;
  align-items: center;
  color: whitesmoke;
  bottom: 0;
  width: 100%;
}

.footer {
  background: #152f4f;
  color: whitesmoke;
  height: 7vh;
  position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y > .sidenav---navitem---9uL5T {
  color: #e47f21 !important;
}

.form-control {
  background-color: whitesmoke;
}

.home{
  margin-top: 80px;
  position: absolute;
  right: 0;
  padding-left:  calc(7vw + 64px);
  padding-right: 7vw;
  width:100vw;
  background-color: whitesmoke;
  display: block;
  text-align: center;
  padding-bottom: 2rem;
  max-height: 86vh;
  overflow-y: scroll;
}
.home2{
  margin-top: 50px;
  position: absolute;
  right: 0;
  padding-left:  6vw ;
  padding-right: 6vw;
  width:100vw;
  background-color: white !important;
  display: block;
  text-align: center;
  padding-bottom: 3rem;
  
}
.home2 h2,h4,h5,p,h3{
  zoom: 0.65;
  color: #000000;
  padding-top: 0;
  margin-top: 0px !important;
}
.zoom{
  zoom: 0.6;
}
.form-control {

  font-size: 11px;

}

.form-select {
  font-size: 11px;
 
}

.input-group-text {
  font-size: 11px;
}
.login{
  margin-top: 140px;
  background-color: whitesmoke;
  text-align: center;
}

.btn-primary{
  background-color: #e47f21 !important;
  border-color: #e47f21 !important;
}

.btn-primary:hover{
  background-color: #e4b021!important;
  border-color: #e4b021;
}

label{
  color: whitesmoke;

}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T::after, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T::after {
  background: #241b02 !important;
  opacity: 0.3 !important;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > * {
  color: #e47f21 !important;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
  color: #e47f21 !important;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y > .sidenav---navitem---9uL5T {
  color: #e47f21 !important;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo {
  opacity: 1;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
  color: whitesmoke !important; 
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
  color: whitesmoke !important; 
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47 > .sidenav---navitem---9uL5T {
  color: whitesmoke !important;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo {
  opacity: 1 !important;
}

.form-select {
  color: #000000 !important;
  background-color: whitesmoke !important;
}

.divleft div svg:hover{
  color: whitesmoke;
}

select{
  margin-bottom: 10px;
  width: 100%;
  display: inline !important;
}

th a{
  background-color: #e47f21 !important;
  font-weight: bold !important;
  color: whitesmoke !important;
  font-size: 18px !important;
  text-transform: uppercase;
}

th a:hover{
  background-color: #e47f21 !important;
  font-weight: bold !important;
  color: whitesmoke !important;
  font-size: 18px !important;
  text-transform: uppercase;
}

th{
  background-color: #e47f21 !important;
  font-weight: bold !important;
  color: whitesmoke !important;
  font-size: 25px !important;
}

thead .fc-scroller{
  overflow-y:hidden !important ;
}

.asistencia{
 display: flex;
}

/*button.fc-today-button.fc-button-primary {
  font-size: 0px;
}

button.fc-today-button.fc-button:after{
  content: "Hoy" !important;
  font-size: 24px !important;
  margin: 24px;
}*/

.fc .fc-toolbar-title {
  text-transform: uppercase;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: .5em  !important;
}

.fc .fc-button-primary {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #e47f21 !important;
  background-color: var(--fc-button-bg-color, #e47f21);
  border-color: #e47f21;
  border-color: var(--fc-button-border-color, #e47f21);
}

.input_name{
  justify-self: start !important;
  width: 65%;
  height: 38px;
  margin-right:3%;
  padding-top: 7px;
  position: relative;
}
.p_horario{
  margin: 0 !important;
}

.btn_diseable{
  visibility: hidden;
  font-size: 0px;
}
.fc-v-event {
  display: block;
  border: 1px solid #502e0e;
  border: 1px solid var(--fc-event-border-color, #502e0e) !important;
  background-color: #e47f21 !important;
}
.select_asis{
  width: 32%;
}

.margins{
  margin-bottom: 0.5rem;
}

th, td {
  border-bottom: 1px solid rgba(233, 132, 8, 0.473);
}

tr:nth-child(even) {
  background-color: #cecbcb85;
}

.scrol{
  overflow-y: scroll;
    height: 67vh;
}

.scrol2{
  overflow-y: scroll;
    height: 63vh;
}

.scrol3{
  overflow-y: scroll;
    height: 72vh;
}

.btn_margintop{
  margin-top: 15px;
}

.footer .links ul {
  list-style-type: none;
}

.footer .links li a {
  color: white;
  transition: color 0.2s;
}

.footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}

.footer .about-company i {
  font-size: 25px;
}

.footer .about-company a {
  color: white;
  transition: color 0.2s;
}

.footer .about-company a:hover {
  color: #4180cb;
}

.footer .location i {
  font-size: 18px;
}

.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.fluid-paddin{
  padding-top: 1rem;
}

.col-especial:hover{
  box-shadow: 30px 30px 100px #999;
  -webkit-box-shadow: 30px 30px 100px #999;
  -moz-box-shadow: 30px 30px 100px #999;
}