@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html,
body,
html * {
  font-family: "Roboto", sans-serif;
}

@import 'bootstrap/dist/css/bootstrap.min.css';
body {
  background-color: #152f4f;
}

.body-panddin{
  padding: 0;
  background-color: whitesmoke;
  width: 100vW;
  height: 100vh;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- {
   clear: both; 
   position: relative; 
}
h1{
  font-size: 50px;
  font-weight: bold;
}
h1{
  color: #152f4f;
}
.divleft{
  margin-top: 15px;
  display: flex !important;
}
.div {
  height: 7vh;
 
  float: left;
  display: flex;
  text-align: right !important;
  background-color: #152f4f;
  align-items: center !important;
  font-size: 12px;
  color: rgb(255, 255, 255) !important;
  justify-items: left;
  vertical-align: middle;
  align-items: flex-start;
}
.datos{
  display: block !important;
  position: relative;
  text-align: left;
  float: left;
  margin-left: 15px;
}
.container-fluid{
  min-height: 83vh;
}
.container{
  background-color: #152f4f !important;
}
.centrar-icon-text{
  justify-items: center;
  display: block !important;
  align-items: center;
}
.home h3{
  color: black;
  
}
.div a{
  text-decoration: none;
  color: whitesmoke;
  padding-left: 10px;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

a:hover{
  color: #e47f21 !important;
}

.div span:hover {
  color: #e47f21 !important;
}

.Col{
  text-align: initial;
}
.bloqueo{
  background-color: rgb(168, 165, 165) !important;
  border:0;
}
.Col, .Col2 a{
  text-decoration: none;
  color: whitesmoke;
  text-shadow: none !important;
  box-shadow: none !important;
}

.Col2{
  text-align: center;
}



.home a{
  color: #152f4f ;
}



.dropdown-divider{
  height: 1px ;
  width: 100%;
  border: 1px solid whitesmoke;
}

hr{
  opacity: .8;
}

.pb-5{
  padding: 0 !important;
}

button{
  border: 0 !important;
  outline: none;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.0);
}

span{
  color: whitesmoke !important;
}
.accordion-button {
    position: relative;
    align-items: center;

}
.accordion-body {
  /* padding: 1rem 1.25rem; */
}
.accordion-item {
  /* background-color: #fff; */
  /* border: 1px solid rgba(0,0,0,.125); */
}
.row-cols-auto>* {
  /* flex: 0 0 auto; */
  width: 183px;
}
.accordion-button {
  /* position: relative; */
  display: inline-block;
  align-items: center;
  /* width: 100%; */
   padding: 0; 
  font-size: 1rem;
   color: #152f4f; 
  text-align: center;
  background-color: #fff;
  overflow-anchor: none;
  /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease; */
}
.accordion-item {
  background-color: #fff;
  border: 0;
}
.accordion-button:not(.collapsed) {
  color: #152f4f;
   background-color: transparent !important; 
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #152f4f;
  background-color: #e7f1ff;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  color: #152f4f; 
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-body {
  padding: 0;
}
text{
  display: block;
}
.header {
  display: flex;
  text-align: center;
  width: 100vw;
  text-align: right;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 2px 2px;
  background-color: #152f4f ;
  color: whitesmoke;
  z-index: 10000;


}

.accordion-button:focus {
   z-index: none; 
   border-color: none; 
   outline: 0; 
   box-shadow: none; 
}
.accordion-button:hover{
  color: #e47f21 !important;
}
svg:hover{
  color: #e47f21 !important;
}
.sidenav---sidenav-navitem---uwIJ- .sidenav---expandable---3_dr7:hover{
  color: #e47f21 !important;
}
.btn{
  min-width: 120px;
}
.form-select:disabled {
  background-color: #8e9297;
}
.form-select {
  width: 100%;
}
.menu2{
  color: rgba(0,0,0,.55);
}

span {
  text-align: center;
  position: relative;
}
.notas {
  top: 25%;
  color: whitesmoke;
}

.ul {
  top: 38%;
  color: darkgray;
}
.navbar-toggler {
  padding: none !important;
}
.logo {
  position: relative;
  padding-top: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  align-items: center !important;
  justify-items: center !important;
  text-align: center !important;
}

.red-social {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  padding: 4px;
  margin-left: 10px;
}
.container-fluid{
  padding:0;
}
.centrar-login{
  min-height: 100%;
  align-items: center !important;
  max-width: 100% !important;
  vertical-align: middle;

}

.sidenav---sidenav---_2tBP {
  position: absolute;
  height: 87vh !important;
  top: 6.9vh !important;
  bottom: 0;
  left: 0;
  z-index: 1006;
  min-width: 70px;
  background: #152f4f !important;
  transition: min-width 0.2s;
  height: 83vh;
}

.icon-tam{
  width: 199px;
  display: block;
  text-align: center;
}
h1{
  color: #152f4f !important;
}
.desactivar{
  color: #999 !important;
}
.desactivar:hover{
  color: #999 !important;
}
label{
  color: black !important;
}
.icon-tam2{
  display: -webkit-inline-box;
  align-items: center;
  align-content: center;
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
}
*:focus {
  outline: 0 !important;
}
.cerrar{
  display: block !important;
  position: absolute !important;
  bottom: 0;
}
.barra-login{
  text-align: center;
  align-items: center;
  color: whitesmoke;
  zoom: 125%;
  bottom: 0;
  width: 100%;
}
.footer {
  background: #152f4f;
  color: whitesmoke;
  position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y > .sidenav---navitem---9uL5T {
  color: #e47f21;
}
.home{
  margin-top: 80px;
  position: absolute;
  right: 0;
  padding-left:  calc(7vw + 64px);
  padding-right: 7vw;
  width:100vw;
  background-color: whitesmoke;
  display: block;
  text-align: center;
  padding-bottom: 2rem;
  max-height: 86vh;
  overflow-y: scroll;
}
.login{
  min-height: 82vh;
  margin-top: 120px;
  background-color: whitesmoke;
  padding: 20px !important;
  display: block;
  text-align: center;
}
.btn-primary{
  background-color: #e47f21 !important;
  border-color: #e47f21 !important;
}
.btn-primary:hover{
  background-color: #e4b021!important;
  border-color: #e4b021;
}
label{
  color: whitesmoke;
  zoom: 110%;
}

select{
  margin-bottom: 1rem;
  width: 100%;
  display: inline !important;
}
.table-dark {
  font-size: 15px;
  --bs-table-bg:#e47f21 I !important;
  --bs-table-accent-bg: #e4b021 !important;
  --bs-table-active-color: #4177ad !important;
  color:  black;
  border-color: #152f4f;
  --bs-table-hover-bg: #e4b021 !important;
  --bs-table-hover-color: black !important;

}
.table-striped{

  --bs-table-accent-bg: #e4b021 !important;
  --bs-table-active-color: #4177ad !important;

  color:  black;
}
.table{
  --bs-table-active-color: #e47f21 !important;
  --bs-table-active-bg: #e47f21!important;
 
 
}
tr:hover{
  background-color: brown;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg:#e47f21;
  --bs-table-hover-bg: #22ac1e !important;
  color:  black;
}
  .boton-filtrar{
  margin-top: 1rem;
  margin-bottom: 1rem;;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  transition: color 0.2s;
}
.footer .about-company a:hover {
  color: #4180cb;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
}
.fluid-paddin{
  padding-top: 1rem;
}
.col-especial:hover{
  
  box-shadow: 30px 30px 100px #999;
  -webkit-box-shadow: 30px 30px 100px #999;
  -moz-box-shadow: 30px 30px 100px #999;
}
